/****************
shared settings
****************/
* {
	margin: 0;
	padding: 0;
}

.hover:hover{
	cursor: pointer;
}

.notsignedin, .signed-in{
	display: none;
}



/****************
navbar settings
****************/
nav {
	height: 50px;
	background-color: #506987;
	color: #dae6f0;
}

nav div {
	font-size: 24px;
	padding-top: 10px;
	padding-left: 30px;
	display: inline-block;
}

nav ul {
	float: right;
	display: inline-block;
	margin-right: 15px;
}

nav li {
	display: inline-block;
	list-style-type: none;
	padding: 16px 5px;
	display: none;

}

nav input {
	width: 120px;
	display: inline-block;
	margin-right: 20px;
}

nav input[type="submit"] {
	width: 50px;
	font-size: 18px;
	margin-right: 20px;
}


/****************
main element settings
****************/
.wrapper {
	width: 70%;
	margin: 50px 15%;
	position: relative;
}

.wrapper h1 {
	display: inline-block;
}

h2 {
	display: inline-block;
	padding: 3px 10px;
	margin-right: 20px;
	border-radius: 5px 5px 0px 0px ;
}


.selected {
	background-color: #a7b4c3;
}

#addroom, #mygames {
	display: none;
}

.color {
	background-color: #a7b4c3;
	border-radius: 0 5px 5px 5px;
	min-height: 60vh;
}

/****************
gameroom settings in lobby
****************/
.rooms {
	margin: 10px 5%;
	border: 1px solid #40546c;
	padding: 0 20px;
}















