#board .map{
    position: absolute;
    top: 5%;
    left: 10%;
    /*width: 90%;*/
    height: 90%;
    bottom: 5%;
    /*right: 10%;*/
    /*position: absolute;
    top: 20px;
    left: 20px;
    bottom: 10px;
    /*right: 140px;*/
}


#board .map .hex{
    position: absolute;
    transition: all 0.15s;
    cursor: default;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

    /* center number token*/
    display: flex;
    align-items: center;
    justify-content: center;
}


#board .map .hex .num-token{
    /* center text*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    border-radius: 100px;
    color: black;
    background-color: white;
    width: 24px;
    height: 24px;
    font-size: 100%;
    font-weight: bold;
}


#board .map .hex .thief{

    width: 24px;
    height: 24px;
    font-size: 100%;
    font-weight: bold;
    background-size: 100%;
}

.hex .robber{
    background: url("../img/room/finalIcons/Robber.png");
}

.hex .pirate{
    background: url("../img/room/finalIcons/Pirate.png");
}



#board .vertex{
    position: absolute;
    width: 12px;
    height: 12px;
    /*background-color: transparent;*/
    cursor: pointer;
    z-index: 10;
}

/*#board .map .hex*/
#board .hex:hover{
    opacity: 0.7;
}

#board .hex.clicked{
    opacity: 0.6;
}

#board .vertex::after{
    content: "";
    border-radius: 100px;
    background-color: rgba(255, 0, 0, 0.22); /*0, 178, 255*/
    width: 21px;
    height: 21px;
    left: -4px;
    top: -4px;
    border: 1px solid rgba(255, 0, 0, 0.3);
    position: absolute;
    opacity: 0;
    transition: all 0.3s;
}

#board .vertex:hover::after, #board .vertex.ctrl-clicked::after{
    opacity: 1;
}

#board .harbor{
    position: absolute;
    background: url("../img/room/finalIcons/harbor.png");
    background-size: 100%;

    text-align: center;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    color: white;

    z-index: 10;
}

#board .fish-tile{
    position: absolute;
    background: url("../img/room/finalIcons/Fish.png");
    background-size: 100%;

    text-align: center;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    color: white;

    z-index: 10;
}

.vertex .knight{
    border-style: solid;
    border-radius: 100%;
}


.vertex .vertex-unit{
    border-width: 0;
    border-style: solid;
    border-radius: 100%;
}


/**
.edge-unit {
    opacity: 0.8;
    border-top: 4px;
    width: 100%;

}

.road {
    border-style: solid;
}

.ship {
    border-style: dotted;
}

**/
.RED {
    border-color: rgba(220, 0, 0, 0.6);
}

.BLUE {
    border-color: rgba(0, 105, 198, 0.6);
}

.ORANGE {
    border-color: rgba(213, 100, 0, 0.6);
}

.GREEN {
    border-color: rgba(0, 163, 14, 0.6)
}




