body{
    visibility: hidden;
}

#page{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#right-screen {
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: 15px;
    width: 300px;
    background-color: white;
    overflow: auto;
}

#left-screen {
    position: absolute;
    right: 330px;
    bottom: 15px;
    top: 15px;
    left: 15px;
}

#board{
    position: absolute;
    top: 0; left: 0;
    right: 0;
    bottom: 130px;
    width: 100%;
    background-color: white;
    border-bottom: 0px solid #e7ebf3;
    overflow: hidden;
}
/**
#board .map{
    width: 100%;
    height: 100%
}**/

#board[disabled] {
    opacity: 0.9;
    pointer-events: none;
}

#board .dices{
    position: absolute;
    top: 10px;
    right: 10px;
}

#board .dice{
    width: 110px;
    overflow: hidden;
    margin-bottom: 7px;
}

#board .dice .icon{
    width: 16px;
    height: 16px;
    float: left;
}

#board .dice .text{
    float: left;
    margin-left: 6px;
    line-height: 16px;
    font-size: 12px;
}

#board .dice.red .icon{ background-image: url(/img/room/dice/red.svg); }
#board .dice.yellow .icon{ background-image: url(/img/room/dice/yellow.svg); }
#board .dice.black .icon{ background-image: url(/img/room/dice/black.svg); }


#utils{
    overflow: hidden;
    background: rgba(255,255,255,0.96);
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
    height: 130px;
}

#utils .me{
    height: 100%;
    margin-left: 15px;
    float: left;
    width: 100px;
}

#utils .me .pic{
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,.1);
    border: 3px solid white;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
}

#utils .me .pic .name{
    position: absolute;
    bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(0,0,0,0.65);
    color: white;
    text-align: center;
    width: 100%;
    font-size: 12px;
}

#utils .common{
    float: left;
    margin-left: 14px;
    margin-top: 14px;
    position: relative;
}

#utils .common .fa{
    margin-right: 6px;
}

#utils .dices{
}

#utils .dices .dice{
    width: 27px;
    height: 27px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    transition: all .1s;
    margin-top: 2px;
}

#utils .dices .dice:last-child{
    margin-right: 0;
}

#utils .dices .dice:hover{
    transform: scale(1.1, 1.1);
}

#utils .dices .dice.yellow{ background-image: url(/img/room/dice/yellow.svg); }
#utils .dices .dice.red{ background-image: url(/img/room/dice/red.svg); }
#utils .dices .dice.black{ background-image: url(/img/room/dice/black.svg); }

#end-turn{
    width: 100%;
    margin-top: 6px;
    display: inline-block;
}    

#trade{
    margin-top: 4px;
    display: block;
}

#utils .cards{
    float: left;
    height: 100%;
    position: absolute;
    right: 15px;
    left: 246px;
    padding-top: 18px;
}

#utils .card{
    float: left;
    height: 94px;
    width: calc(11.11% - 10px);
    text-align: center;
    position: relative;
    background-color:#9F8641;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0.6),
    0 0.3em 0.5em -0.2em rgba(100,100,100,1),
    0 1em 2em -0.75em rgba(100,100,100,0.3),
    0 1em 3em -0.5em rgba(100,100,100,0.15),
    0 3em 3em -0.25em rgba(100,100,100,0.08);
}

#utils .card.wool{ background-color: #008e02; }
#utils .card.sheep{ background-color: #4CD964; }
#utils .card.brick{ background-color: #8c6600; }
#utils .card.grain{ background-color: #FF5E3A; }
#utils .card.ore{ background-color: #4A4A4A; }
#utils .card.coin{ background-color: #5856D6; }
#utils .card.cloth{ background-color: #FFD3E0; }
#utils .card.paper{ background-color: #D1EEFC; }
#utils .card.gold{ background-color: #FFDB4C; }

#utils .card .border{
    border:2px dashed rgba(255,255,255,0.6);
    border-radius:5px;
    position: absolute;
    top: 5px; left: 5px;
    right: 5px; bottom: 5px;
    margin: 0 auto;
}

#utils .card .name{
    position: absolute;
    top: 20px;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 13px;
}

#utils .card .count{
    position: absolute;
    top: 50px;
    border-radius: 100px;
    background-color: rgba(255,255,255,0.8);
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 11px;
    font-weight: bold;
}

#match-state{
    -webkit-box-shadow: 2px 2px 3px 4px #ccc;
    -moz-box-shadow:    2px 2px 3px 4px #ccc;
    box-shadow:         2px 2px 3px 4px #ccc;
    background-color: #CAED9E;
    color: white;
    text-align: center;
}

#users{
    border-bottom: 1px solid #e7ebf3;
    overflow: hidden;
}

#users .user{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #e7ebf3;
    transition: all 0.3s;
}

#users .user[active]{
    background: linear-gradient(to right, rgb(235, 202, 46) 0%, rgba(252, 255, 82, 0.18) 100%);
}

#users .user:last-child{
    border-bottom-width: 0;
}

#users .user .pic{
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    width: 80px;
    height: 80px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 1px 5px rgba(0,0,0,.1);
    border: 3px solid white;
    position: relative;
}

#users .user .pic .name{
    position: absolute;
    bottom: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgba(0,0,0,0.65);
    color: white;
    text-align: center;
    width: 100%;
    font-size: 11px;
}

#users .user .info{
    float: left;
    width: auto;
    padding-left: 10px;
    font-size: 11px;
    line-height: 16px;
}

#log{
    font-size: 12px;
    line-height: 18px;
    position: relative;
    /*background-color: yellow;*/
}

#log .msgs{
    overflow-y: scroll;
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 0; left: 0; right: 0;
    bottom: 34px;
}

#log .system{
    color: #fab9d4;
}

#log .user{
    color: #00acfc;
}

#log .user.self{
    color: #ff8300;
}

#log .action{
    color: #555;
}

#log input{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    width: 100%;
    line-height: 34px;
    height: 34px;
    font-size: 12px;
    background-color: #eff5f7;
    outline: 0;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
}

#match-opts{
    text-align: center;
    width: 100%;
    left: 0; right: 0;
    bottom: 0;
    position: absolute;
}

#match-opts .opt{
    float: left;
    width: 33.33%;
    height: 42px;
    line-height: 42px;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0;
}

#match-opts .opt .fa{
    margin-right: 6px;
}

#match-opts .opt:last{
    border-right: 0;
}

#cmd-table {
    position: fixed;
    top: 0; left: 0;
    right: 0; bottom: 80px;
    margin: auto;
    width: 500px;
    height: 280px;
    z-index: 22;
    font-size: 12px;
    background: rgba(255,255,255,1);
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

#cmd-table .pop_title{
  cursor: move;
}

#cmd-table * {
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
}

#cmd-table .wrap{
    position: absolute;
    top: 34px; left: 0; right: 0;
    bottom: 0; width: 100%;
}

#cmd-table .cmds{
  float: left;
  padding: 3px;
  height: 100%;
  overflow: auto;
  width: 150px;
}

#cmd-table .cmd{
    width: 100%;
    padding: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}
#cmd-table .cmd:hover{
  background: #f2f2f2;
}
#cmd-table .cmd.chosen{
  background: #e0e0e0;
}
#cmd-table .cmd.matched{
    animation: neon6 1.5s ease-in-out infinite alternate;
}

#cmd-table .ops{
    margin-left: 150px;
    width: auto;
    height: 100%;
    overflow: auto;
    padding: 5px;
    border-left: 1px solid #dddddd;
    overflow-y: auto;
    font-size: 14px;
    position: relative;
}

#cmd-table .op{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#cmd-table .op.chosen{
  display: block;
}

#cmd-table .ops .confirm{
    height: 34px;
    line-height: 34px;
    border-radius: 0;
    position: absolute;
    left: 7px;
    right: 7px;
    bottom: 7px;
    border: 0;
    background: #f6f6f6;
    border-radius: 0px;
}
#cmd-table .ops .confirm:hover{
    background: #eeeeee;
}
#cmd-table .ops .confirm:active{
    background: #e0e0e0;
}

#cmd-table .ops .confirm .fa{
    margin-right: 5px;
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
/*
turnEvent class contains all the buttons that can be set to disabled (if the user is not the current player)
 */
#utils .turn-event[disabled]{
    opacity: 0.4;
    pointer-events: none;
}


