#page{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#right-screen {
    width: 400px;
    height: 100%;
    float: right;
    background: #aafed6;
    position: relative;
}

#left-screen {
    float: none;
    height: 100%;
    background: #e8f6fe;
    width: auto;
    overflow: hidden;
    position: relative;
}​​

#board{
    background-color: blue;

}

#utils{
    background-color: gray;
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
    height: 100px;
}